
body {
  height: max;
}
.item1 {
background-color: white;
color: black;
font-family: serif;
font-size: 36px;
font-weight: bold;
text-align: center;
grid-column: span 3;
/*border: 10px solid black;*/
display: flex;
justify-content: center;
align-items: center;
}
.item2 {
background-color: rgb(240, 240, 240);
color: black;
font-family: serif;
font-size: 20px;
text-align: left;
grid-row: span 2;
/*border: 10px solid black;*/
}

.item3 {
background-color: rgb(240, 240, 240);
color: black;
font-family: serif;
font-size: 26px;
font-weight: bold;
text-align: center;
grid-column: span 2;
/*border: 10px solid black;*/

}

.item4 {
background-color:rgb(240, 240, 240);
color: black;
font-family: serif;
font-size: 26px;
font-weight: bold;
text-align: center;
grid-column: span 2;
/*border: 10px solid black;*/
}
.item5 {
  background-color: rgb(240, 240, 240);
  color: black;
  font-family: serif;
  font-size: 18px;
  text-align: right;
  grid-column: span 3;
  /*border: 10px solid black;*/
}
.item6 {

}
.container {
  display: grid;
  grid-template: repeat(4, 1fr) / 1fr 2fr 2fr;
grid-gap: 1px;
height: 100vh;
}
#image {
  max-width: 100%;
    height: auto;
    display: block;
}
figcaption {
  font-size: 20px;
}
